.boxback-modal {
  background-color: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 5;
}

.box-modal {
  z-index: 10;
  position: fixed;
  top: 31%;
  left: 15%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  backdrop-filter: grey;
}

.box-modal p {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.box-modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}